PLATFORM_POSTGRES_HOST=192.168.1.136
PLATFORM_POSTGRES_PORT=5432
PLATFORM_POSTGRES_DATABASE=app_platform
PLATFORM_POSTGRES_USER=platform_app_user
PLATFORM_POSTGRES_PASSWORD=change_me

LOCAL_ORGANISATION_SLUG=local
APP_ROOT_DOMAIN=app.local
ALLOW_ORGANISATION_HEADER_OVERRIDE=false

APP_BASE_URL=http://localhost:3000
DISABLE_HTTPS_REDIRECT=false
MAINTENANCE_MESSAGE=
EMAIL_FROM=
RESEND_API_KEY=
SSO_SECRET_ENCRYPTION_KEY=change_this_to_a_long_random_secret
SESSION_TOKEN_HASH_SECRET=change_this_to_a_long_random_secret
API_KEY_HASH_SECRET=change_this_to_a_long_random_secret
